
name: Log PR Comment JSON

on:
  # the PR receives a comment
  #issue_comment:
  #  types: [created, edited]
  # the PR receives a review
  #pull_request_review:
  #  # whether or not it is accompanied by a comment
  #  types: [submitted]
  # the PR receives a review comment
  pull_request_review_comment:
    types: [created, edited]

jobs:
  log-comment-json:
    runs-on: ubuntu-latest
    steps:
      - name: Log the event payload
        run: |
          echo "Logging the JSON payload for the pull request comment..."
          echo '${{ toJson(github.event) }}'
